.background {
  background-color: lightblue;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 14px 14px 16px 3px rgba(16, 14, 14, 0.75);
}

.formBlock {
  display: flex;
  flex-direction: column;
  border: 5px solid #4aabf0fd;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  padding-top: 15px;
}

.input {
  margin-top: 20px;
  padding: 12px;
  border-radius: 6px;
  border-color: none;
  background-color: white;
  font-family: inherit;
  font-size: 18px;
}
